@font-face {
  font-family: 'grimtol_23';
  src:  url('grimtol_23.eot?9ep1bj');
  src:  url('grimtol_23.eot?9ep1bj#iefix') format('embedded-opentype'),
    url('grimtol_23.ttf?9ep1bj') format('truetype'),
    url('grimtol_23.woff?9ep1bj') format('woff'),
    url('grimtol_23.svg?9ep1bj#grimtol_23') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="g-icon-"], [class*=" g-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grimtol_23' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-icon-pointer:before {
  content: "\e917";
}
.g-icon-pointer-alt:before {
  content: "\e91e";
}
.g-icon-bat:before {
  content: "\e900";
}
.g-icon-book:before {
  content: "\e901";
}
.g-icon-books:before {
  content: "\e902";
}
.g-icon-close:before {
  content: "\e903";
}
.g-icon-cog:before {
  content: "\e904";
}
.g-icon-cogs:before {
  content: "\e905";
}
.g-icon-compass:before {
  content: "\e906";
}
.g-icon-grave:before {
  content: "\e907";
}
.g-icon-grimtol:before {
  content: "\e908";
}
.g-icon-grimtol-alt:before {
  content: "\e909";
}
.g-icon-hand:before {
  content: "\e90a";
}
.g-icon-hand-alt:before {
  content: "\e90b";
}
.g-icon-heart:before {
  content: "\e90c";
}
.g-icon-knife:before {
  content: "\e90d";
}
.g-icon-logo:before {
  content: "\e90e";
}
.g-icon-logo-alt:before {
  content: "\e90f";
}
.g-icon-mail:before {
  content: "\e910";
}
.g-icon-marker:before {
  content: "\e911";
}
.g-icon-moon:before {
  content: "\e912";
}
.g-icon-paper:before {
  content: "\e913";
}
.g-icon-pentagram:before {
  content: "\e915";
}
.g-icon-picture:before {
  content: "\e916";
}
.g-icon-potion:before {
  content: "\e918";
}
.g-icon-skull:before {
  content: "\e919";
}
.g-icon-smile:before {
  content: "\e91a";
}
.g-icon-star:before {
  content: "\e91b";
}
.g-icon-time:before {
  content: "\e91c";
}
.g-icon-web:before {
  content: "\e91d";
}
